[Unit]
Description=tomcat 8
After=network.target syslog.target

[Service]
Type=forking
User=Ted
Group=Ted
ExecStart=/tomcat/bin/startup.sh start
ExecStop=/tomcat/bin/shutdown.sh stop

[Install]
WantedBy=multi-user.target
